<nav class="bg-blue-500 shadow-lg">
  <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
    <div class="">
      <!-- Logo avec votre image -->
      <div class="">
        <div class="flex items-start">
          <!-- Remplacez "nom-de-votre-image.png" par le vrai nom de votre fichier -->
          <img src="https://media.istockphoto.com/id/1040299496/fr/vectoriel/maisons-et-camembert.jpg?s=612x612&w=0&k=20&c=VxORkTSzC0i8UjUQgSJtgMlG_HXwOjDW4qDrDd4Ebjc=" 
          alt="Logo" class="h-15 w-10 object-contain">
          <span class="ml-2 text-xl font-bold text-red-600">MonApp</span>
        </div>
      </div>
      
